th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}